*
  padding: 0
  margin: 0
  list-style: none
  outline: none
  font-family: Roboto, -apple-system, system-ui, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.todo
  position: absolute
  left: 50%
  top: 50%
  width: 750px
  height: 530px
  font-size: 14px
  transform: translate(-50%, -50%)
  &-sidebar
    background-color: #f4f6f8
    height: 100%
    width: 200px
    padding: 60px 20px 
    border-right: 1px solid #f1f1f1


